
<div class="menuRightSide" >
    <table id="tab">
        <tr ng-repeat="list in navList">
            <td class="menuButton clickable-row" data-href="{{list.navUrl}}"  style="border-top: 2px solid white;">
                <table style="width:100%;">
                    <tr>

                        <td class="menuText">
                            <a class="menuLink menuColor" href="{{list.navUrl}}" style="text-decoration: none;font-size: 16px;">{{list.title}}</a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

</div>


<div>
    <fieldset >
        <legend >ADD Book </legend>
        <table >
            <tr>
                <td>
                    <div >
                        <table >
                            <tr>
                                <td >productName</td>
                                <td><input  class="form-control" style="cursor:text;"
                                                              type="text"
                                                              ng-model="productDetails.name"></td>
                            </tr>
                            <tr>
                                <td >brand</td>
                                <td><input  class="form-control" style="cursor:text;"
                                           type="text"
                                           ng-model="productDetails.brand"></td>
                            </tr>

                            <tr>
                                <td >price</td>
                                <td><input  class="form-control" placeholder="Number" style="cursor:text;"
                                           type="text"
                                           ng-model="productDetails.price"></td>
                            </tr>
                            <tr>
                                <td >description</td>
                                <td><input  class="form-control" placeholder="Number " style="cursor:text;"
                                           type="text"
                                           ng-model="productDetails.description"></td>
                            </tr>
                        </table>

                    </div>
                </td>
            </tr>
        </table>



    </fieldset>
    <button type="button" class="btn btn-primary" ng-click="saveproductDetails()">Save</button>

    <div style="color: black">{{product_info}}</div>
</div>


<div>
    <button type="button" class="btn btn-danger" style="top: 0;position: fixed;
  right: 0;" ng-click="logout()">LogOut</button>
</div>